/* #4CAF50 */
html,mainbody{
    width:100%;
}
.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}
.sidebar-menu ul  {
    list-style: none;
    background: #1B6579;
    padding: 0px !important;
    width: 60px;
    text-align: center;
}
.freehanderase .btn {
    background: #1B6579;
    color: #fff;
    margin-left: 10px;
    display: none;
}
.erase-btn {
    display: block !important;
}
.calc-copy {
    margin-left: 5px;
    background: transparent;
    border: 0px;
    color: #fff;
    font-size: 20px;
}
.calc-copy:focus{
    box-shadow: none;
}
.freehanderase .btn:hover, .freehanderase .btn:focus {
    box-shadow: none !important;
}
.d-grid {
    display: grid;
}
.disabled {
    pointer-events: none;
}
.sidebar-menu ul li label{
    color: #fff;
    font-size: 8px;
}
.sidebar-menu ul li:not(:last-child) {
    border-bottom: 1px solid #fff;
}
.sidebar-menu ul li img {
    width: 28px;
    margin: 0 auto;
}
.sidebar-menu ul li i {
    font-size: 20px;
    padding-bottom: 1px;
}
.sidebar-menu .home {
    font-size: 37px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.sidebar-menu .save-measure i{
    padding-bottom: 4px !important;
}
.sidebar-menu .kml i {
    padding-bottom: 3px !important;
}
.sidebar-menu .undo, .sidebar-menu .redo, .sidebar-menu .save, .sidebar-menu .save-measure, .sidebar-menu .kml {
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}
.container-fluid navigation{
    display: block;
    height: 80px;
    width: 100%;
    position: fixed !important;
}
.container-fluid .canvas{
    display: block;
    position: fixed !important;
    top: 80px;
    /* bottom: 50px; */
    bottom: 0;
    left: 0;
    right: 0;    
}
.container-fluid .adfooter{
    display: block;
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: fixed;
    /* background-color: #1B6579; */
}
.cursor-none {
    pointer-events: none;
}
.canvas .splash{
    height: 100%;
    width: 100%;
}
.ic_logo{
    width: 60px;
}
.logo{
    margin-top: 10px !important;
    padding: 0px 15px !important;
    margin-bottom: 10px !important;
}
.logo .log{
    display: inline-block;
    vertical-align: middle;
    color: #f2f2f2;
}
.logo .log h3{
    margin-bottom: 0;
}
body, html, .container-fluid {
         height: 100%;
    }
.modal{
    margin-top: 160px;
}
.login .nav-link {
    padding: 0px;
    margin: .3rem .5rem;
}
.login .nav-ico {
    padding: 0px;
    margin: .2rem 0rem;
}
.login .nav-ico img {
    width: 35px;
}
.loginmodal{
    margin-top: 50px !important;
}
h1 { margin:50px auto;}
.zoom-fab {
    line-height: 40px;
    display: inline-block;
    /* width: 40px; */
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
}

.zoom-fab:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
#menu {
    text-align: right;
}
#login .btn{
    margin-right: 5px;
}
#login .zoom-fab span{
    display: inline-block;
}
.zoom-btn-large {
    background-color: #1B6579;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.zoom-menu {
    padding-right: 13px;
    margin: 0 !important;
}

.zoom-menu li {  
    display: block;
    text-align: right;
    padding-right: 10px;
}
.subbtn{
    font-size: 14px;
    outline: 0;
    background-color: #1B6579;
    color: #f2f2f2;
    border: 0;
    border-radius: 28%;
}
.navbar{
    padding: 0 1rem !important;
}  
.topnav {
    overflow: hidden;
    background-color: #1B6579;
    width: 100%;
}
.topnav h2{
    float: left;
    color: #f2f2f2;
    padding: 5px 15px;
}
.topnav li {
    float: left;
    list-style-type: none;
    margin-top: 20px;
    padding: 5px 15px;
}
/* .topnav .topnav-right li{
    padding-left: 0;
} */
.topnav li a {
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}
.dropdown-toggle{
    color: #f2f2f2;
}
#totalMeter{
    float: left;
    text-decoration: none;
    border-width: 0 0 1px;
    background: none;
    color:#fff;
    cursor: pointer;
}

.topnav input::-webkit-input-placeholder{
    color:#fff;
}
.topnav-right {
    float: right;
}
.emptyfile{
    font-size: 15px;
    text-align: center;
    margin-top: 10px !important;
}
#userlogin hr{
    margin-top: 0.5rem;
    margin-bottom: 0;
}
#userregister hr{
    margin-top: 1rem;
    margin-bottom: 0;
}
#Savemeasurement hr{
    margin-bottom: 0.5rem;
}
.modal-header,.header ,.navbar{
    background-color: #1B6579;
}
#StoreuserPoints .modal-header h6{
    position: relative;
    left: 100px;
}
#StoreuserPoints .modal-body .row .verticalLine,#allMeasure .modal-body .verticalLine, #RedrawConfirmModal .modal-body .verticalLine,
#Savemeasurement .modal-body .verticalLine,  #upload .modal-body .verticalLine {
    border-left: 1px solid rgba(0,0,0,.1);;
  }
#StoreuserPoints .modal-body .row {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
#StoreuserPoints .modal-body, #RedrawConfirmModal .modal-body, #Savemeasurement .modal-body, #upload .modal-body{
    padding-bottom: 0;
}
#StoreuserPoints .modal-body .p-0, #upload .modal .p-0{
    padding: 0px;
}
#StoreuserPoints .modal-body .btn-action, #Savemeasurement .modal-body .btn-action, #RedrawConfirmModal .modal-body .btn-action, #upload .modal-body .btn-action{
    padding: 10px 0px;
}
#StoreuserPoints .modal-body .store-action,#Savemeasurement .modal-body .store-action, #RedrawConfirmModal .modal-body .draw-action, #upload .modal-body .draw-action{
    border-top: 1px solid rgba(0,0,0,.1);
}
.modal-body .row{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.modal-title{
    color: white;
}
#zoomBtn span{
    display: inline-block;
}
.cursor{
    cursor: pointer;
}
.row .meter{
    margin-top: 10px;
    float: right;
}
.row .col-md-5 span h2{
    margin-top: 2px;
}
.modal-body .drawpoi input[type = text],.modal-body .drawpoi input[type = button],.modal-body .degreeDraw input[type = text],.modal-body .degreeDraw input[type = button]{
    margin: 3px 0px;
}

.modal-body .drawpoi span input[type = button],.modal-body .degreeDraw input[type = button]{
    width: 75px;
}
.degreeDraw .row .col-md-3 {
    padding-right: 0 !important;
    margin-right: 8px;
}
.degreeDraw .row .col-md-2 {
    padding-left: 0 !important;
}

.drawpoi .row .col-md-6:first-child {
    padding-right: 0 !important;
}
.drawpoi .row .col-md-6:last-child  {
    padding-left: 0 !important;
}
.drawpoi .row .col-md-6 input[type=text]{
    width: 95%;
}
.drawpoi .row span,.degreeDraw .row span{
    width: 100%;
    text-align: center;
    margin-top: 3px;
}
.degreeDraw .row .drop{
    margin-top: 2px;
}
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out,.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}
#zoomBtn{
    position: relative;
    outline:none;
    border: 0;
    font-size: 25px;
}
.scale-transition.scale-in { transform: scale(1); }
.rotate {
    transform: rotate(40deg);
    transition: .3s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}
.expandSearch .form-control:focus{
    box-shadow: none;
}
/*.modal-header .close {
    color: white;
}
#login .modal-content {
    background:transparent;
    background-image: url(../../assets/icons/snazzy-image.png);
    background-size: 500px 500px;
} */
#login .modal-header {
    background: transparent !important;
    border-bottom: none !important;
}
#login input:focus ~ label,#login input.used ~ label,#Savemeasurement input:focus ~ label,#Savemeasurement input.used ~ label{
	top: -20px;
    transform: scale(.75); left: -2px;
	color: #4a89dc;
}
#login * { 
    box-sizing:border-box;
    /*color: white;*/
}
#login input,#Savemeasurement input {
    /*background: transparent;*/
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}
#login input{
    background: transparent;
    z-index: 1;
    color: #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;
}
#login input:focus,#Savemeasurement input:focus { outline: none; }


/* Label */

#login label ,#Savemeasurement label{
	/*color: #999; */
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

#login input:focus ~ label,#login input.used ~ label,#Savemeasurement input:focus ~label,#Savemeasurement input.used ~label {
	top: -10px;
    transform: scale(.75);
    left: -2px;
	/* font-size: 14px; */
	/* color: #4a89dc; */
}
/* Underline */
.bar {
	position: relative;
	display: block;
	width: 100%;
}

/* .bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
} */

.bar:before { left: 50%; }
.bar:after { right: 50%; }
/* active */
#login input:focus ~ .bar:before,#login input:focus ~ .bar:after,#Savemeasurement input:focus ~ .bar:before,#Savemeasurement input:focus ~ .bar:after{ width: 50%; }
/* Highlight */
.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
/* active */
#input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}
/* Animations */
@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

#login .group ,#Savemeasurement .group { 
	position: relative; 
	margin-bottom: 10px; 
}

#Savemeasurement input{
    padding-bottom: 0 !important;
    padding-top: 15px;
}
#login .btn{
    width: 100%;
}

#login form{
    margin-top: 15px;
}

#login .default{
    margin-top: 5px;
}
#login .modal{
    padding: 0;
    padding-bottom: 2rem;
}
#login .modal-content{
    background-image: url(../../assets/icons/map.png);
    color: #f2f2f2;
}
.facebook-button {
    padding: 2px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: #3B5998;
    color: white;
    font-family: initial;
    font-size: 20px;
}
.google-button {
    padding: 2px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    background-color: #dd4b39;
    color: white;
    font-family: initial;
    font-size: 20px;
}
.plus{
    display: inline-block;
    font-size: 14px;
    vertical-align: text-top;
    margin-left: -3px;
}
.save-button {
    padding: 2px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* background-color: #3B5998;
    color: white; */
    font-family: initial;
    font-size: 17px;
} 
.default .google-button {
    margin-top: 5px;
}
#login hr{
    width: 65%;
}
#login label{
    color: #f2f2f2 !important;
}
.line.l {
    left: 0;
    margin-left: 15px;
}
.line.r {
    right: 0;
    margin-right: 15px;
}
.division {
    font-size: 17px;
}
.line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 15px;
    width: 30%;
}
.demo{
    font-size: 15px;
    font-weight: inherit;
}
.reg a{
    cursor: pointer;
}
#regErr{
    background: transparent;
}
.alert-warning{
    text-align: center;
    font-size: 15px;
    color: red;
    margin-bottom: 15px;
    background-color: transparent;
}
.alert-success{
    text-align: center;
    font-size: 15px;
    color: green;
    margin-bottom: 15px;
    background-color: transparent;
}
.otp-verify {
    border: 0;
    border-bottom: 1px solid #ced4da;
    text-align: center;
    font-size: 30px;
    letter-spacing: 15px;
}
.forErr{
    font-size: 11px;
    font-weight: 600;
}
.msg .col-md-8{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.search input{
    width: 400px;
}
/* *:focus{
    border-color :#ced4da;
    box-shadow: none;
} */
.fpassword{
    text-align: left;
    font-size: 15px;
}
.expandSearch{
    margin-top: 10px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.expandSearch #searchPlace{
    border-radius: 50%;
}
.expandSearch #searchPlace:focus{
    border-radius: 0;
}
.expandSearch i{
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px 0px 0px ;
    color: #1B6579;
    cursor: pointer;
    transition: 0.20s;
}
.expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: 0.20s;
    width: 0px;
    padding: 8px 0px 8px 34px;
}
.inputfocus {
    text-align: left;
    outline: none;
    width:250px !important;
    border: 0 !important;
    border-radius: 50px !important;
    padding: 12px 0px 12px 12px !important;
    box-sizing: border-box;
}
.clearMap{
    margin-top: -40px;
    left: 125px;
    position: relative;   
    height: 30px;
}
.storedata{
    margin-right: 0;
}
.storedata .zoom-btn-large {
margin: 0;
margin-left: 20px;
}
.storedata .zoom-fab {
    line-height: 0 !important;
}
.storedata input[type = submit],.clearMap input[type = submit]{
line-height: 0.5;
}
.item-right .btn-primary {
    background-color: #1B6579 !important; 
    border-color: #1B6579 !important;
}
.topnav ul li{
    width: 215px;
    padding: 0;
}
.topnav .item-right{
    position: absolute;
    left: 120px;
}
.topnav .item-left{
    position: relative;
    left: 5px;
}
.topnav a:hover{
    text-decoration: none;
}
.dropdown-menu li{
    padding: 5px 5px;
}
.dropdown-menu{
    padding-top: 0 !important;
    overflow-y: scroll;
    max-height: 230px;
}
#upload .row .group,#upload .row .typeER,#upload .row .form-group{
    text-align: left;
}
#upload .row .group input[type = file]{
    font-size: 15px;
    margin-top: 5px;
}
#upload hr{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
#upload .modal-header{
    padding: 10px 10px;
} 
#upload .row .line {
    width: 42%;
}
.list-menu{
    margin-top: 10px !important;
}
#tab1 .item-left .over,#tab2 .item-left .over{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:295px;
    display:inline-block; 
}
.upload{
    height:36px;
    width:36px;
}
.newupload{
    padding-right: 15px !important;
}
.newupload button{
    margin-right: 5px;
}
/* .sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}
.sidenav a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidenav .menu{
    margin-top: 15px;
    margin-left: 20px;
    color: #1B6579;
    cursor: pointer;
} */
#main {
    transition: margin-left .5s;
    padding: 16px;
}
.newnavbar{
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding-right: 5px;
}
/* .sidabarlogo{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    height: 235px;
    width: 250px;
    background-image: url('../../assets/icons/map.png');
} */
.splash img{
    width: 100%;
    max-height: 88.1vh;
    margin: auto;
}

.topnav-right .searchbar{
    padding: 0 !important;
    margin-top: 10px !important;
}
.login a{
    color: #fff;
}
.login{
    margin-top: 18px !important;
}
#allMeasure .modal-body #material-tabs a{
    width: 49%;
    padding: 10px !important;
}
#measureArea .item-left,#measureDistance .item-left{
    float: left;
    padding-right: 60px;
    text-align: left;
}
#tab1 li ,#tab2 li,#setting li{
    list-style-type: none;
}
#setting .social li{
    display: inline;
    padding-right: 15px;
    font-size: 27px;
}
#setting ul{
    float: left;
    margin-top: 5px;
}
.item-center{
    font-weight: 500;
    font-size: 20px;
}
#allMeasure{
    margin-top: 60px !important;
}
#allMeasure .modal-body{
    height: 370px;
    max-height: 370px;
    overflow-y: auto;
    padding: 0px;
    padding-bottom: 0;
}
#measuremenu:focus{
    outline: none !important;
}
#selctdistance .modal-header,#selctarea .modal-header{
    padding: 7px 1rem;
}
#selctdistance .modal-body,#selctarea .modal-body{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#selctdistance .modal-body label,#selctarea .modal-body label{
    float: left;
    padding-left: 80px;
    margin-bottom: 0;
}
#selctdistance .modal-content,#selctarea .modal-content{
    width: 350px;
    max-width: 350px;
}
#selctdistance{
    margin-top: 60px;
}
#selctdistance .modal-body input[type = "checkbox"],#selctarea .modal-body input[type = "checkbox"]{
    width: 30px;
    height: 15px;
    float: right;
    margin-right: 80px;
}
/* .owner span{
    color: #1B6579;
    font-size: 15px;
    font-weight: 500;
}
.owner{
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
} */
.close{
    color:#f2f2f2;
    text-shadow: none !important;
    opacity:1;
}
.close:focus{
    outline: none;
}
#setting .modal-body span{
    float: left;
    padding-left: 25px;
    color: #1B6579;
    margin-top: 10px;
}
#setting .modal-body .sselect span{
    padding-left: 0px !important;
}
#setting .modal-body .sselect {
    padding: 0px 47px;
    text-align: start !important;
}
#setting .modal-body .sselect .down-arrow {
    position: absolute;
    top: 16px;
    padding-left: 10px;
}
#setting .modal-body .row i{
    color: #1B6579;
}
#setting .modal-body{
    padding: 0;
    padding-top: 3px;
}
#setting .fa-question-circle{
    cursor: pointer;
}
#setting .fa-question-circle:before {
    font-size: 22px; 
}
.select #totalMeter{
    min-width: 250px;
    width: auto;
    max-width:  650px;
}
.select #totalMeter:focus {
    box-shadow: none !important;
    outline: none !important;
}
#allMeasure .modal-body .tab-content .item-right{
    position: absolute;
    right: 0;
    padding-right: 10px;
}
#allMeasure .modal-body .tab-content .item-left{
    left: 0;
    padding-left: 10px;
}
header {
    position: relative;
}
.hide{
    display: none;
}
#material-tabs {
    position: relative;
    display: block;
    padding:0;
    border-bottom: 1px solid #e0e0e0;
}

#material-tabs>a {
    position: relative;
    display:inline-block;
    text-decoration: none;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: grey;
    text-align: center;
    outline:0;
}

#material-tabs>a.active {
    font-weight: 700;
    outline:none;
    color: #1B6579;
}
.yellow-bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 3px;
    background: #458CFF;
    display: block;
    left: 0;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

#tab1-tab.active ~ span.yellow-bar {
    left: 0;
    width: 50%;
}

#tab2-tab.active ~ span.yellow-bar {
    left: 50%;
    width: 50%;
}
#upload .modal-body .col-md-1{
    padding-right: 0 !important;
}
#upload .modal-body .col-md-11{
    padding-left: 0 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
#upload .modal-body input[type = "radio"]{
    cursor: pointer;
}
.zoom-fab,.zoom-fab:hover{
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
}
@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 0px;} */
  /* .sidenav a {font-size: 25px;} */
}
@media screen and (min-width: 576px){
    #selctdistance .modal-dialog,#selctarea .modal-dialog{
        max-width: 350px;
    }    
}
@media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs>li>a {
            font-size: 11px;
    }
}
